body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}
#dayPageMainContainer {
    text-align: center;
}

#dayMainContainer {
    display: inline-block;
    width: 320px;
}
.dayList {
    padding: 5px;
    width: 180px;
}

.hourList {
    list-style: none;
}
.hourBox {
    height: 80px;
    background-color: cornsilk;
    border: 1px solid #000;
    text-align: left;
}

.popup {
    position: fixed;
    width: 40%;
    height: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(35, 194, 88, 0.6);
}
.popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
    vertical-align: middle;
}

#week-container {
    display: flex;
}

.week-day-block {
    width: 200px;
}
